body {
  overflow-x: hidden;
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.slideInFromRightClass {
  animation: slideInFromRight 1s forwards ease;
}
.slideInFromLeftClass {
  animation: slideInFromLeft 1s forwards ease;
}
.slideOutRightClass {
  animation: slideOutRight 1s forwards ease;
}
.slideOutLeftClass {
  animation: slideOutLeft 1s forwards ease;
}
.showBackground {
  display: block;
}
.hideBackground {
  display: none;
}
.MuiRadio-radio {
  border: none !important;
}
.MuiRadio-radio.Mui-checked > .MuiRadio-icon {
  color: yellow;
  width: 100%;
  height: 100%;
}
div[data-parent="RadioGroup"] {
  background-color: transparent;
}
#menu-appbar[aria-controls="menu-appbar"] {
  min-height: 55px;
  min-width: 2.5rem;
  border-radius: 4px;
  /* mix-blend-mode: revert; */
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1px;
  color: white;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@keyframes floatUp {
  0% {
    top: 100%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}
