body {
  overflow-x: hidden;
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.slideInFromRightClass {
  animation: slideInFromRight 1s forwards ease;
}
.slideInFromLeftClass {
  animation: slideInFromLeft 1s forwards ease;
}
.slideOutRightClass {
  animation: slideOutRight 1s forwards ease;
}
.slideOutLeftClass {
  animation: slideOutLeft 1s forwards ease;
}
.showBackground {
  display: block;
}
.hideBackground {
  display: none;
}
.appbar-menu-icon * {
  color: white;
}
.css-i4bv87-MuiSvgIcon-root {
  color: white;
}
.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root:has(
    .css-i4bv87-MuiSvgIcon-root
  ) {
  height: 55px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@keyframes floatUp {
  0% {
    top: 100%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}
